<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

          <img src="/assets/img/profile/20200209_134643_439.jpg" width="220px" alt="Logo" />

        <p>{{ site.description | default: site.github.project_tagline }}</p>

	    <div class="social">
    <a href="mailto:wjun0830@gmail.com" title="email"><img class="/assets/img/social/email.png" src="/assets/img/social/gmail.png" width="50px"></img></a>
    <a href="https://scholar.google.com/citations?user=_-FSWfoAAAAJ&hl=ko" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><img class="/assets/img/social/googlescholar.png" src="/assets/img/social/googlescholar.png" width="50px"></img></a>
    <a href="https://github.com/wjun0830" title="Github" target="_blank" rel="noopener noreferrer"><img class="assets/img/social/github.png" src="assets/img/social/github.png" width="50px"></img></a>
    <a href="https://www.linkedin.com/in/wonjun-moon-591bb2192/" title="LinkedIn" target="_blank" rel="noopener noreferrer"><img class="/assets/img/social/linkedin.png" src="/assets/img/social/linkedin.png" width="50px"></img></a>
    </div>

        {% if site.show_downloads %}
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
